*.jpg
*.pth
*.zip
*.pt
exprs/
cifar-10-python.tar.gz
*.png
cifar-10-batches-py/data_batch_1
cifar-10-batches-py/batches.meta
cifar-10-batches-py/data_batch_2
cifar-10-batches-py/data_batch_4
cifar-10-batches-py/data_batch_5
cifar-10-batches-py/data_batch_3
